* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }  
  
   body {
    text-align: center;
    background: url(foguete.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } 
  
  .color {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    border-radius: 50px;
  }
  
  section {
    margin-top: 20px;
    margin-left: 20px;
    line-height: 0;
  }
  
  .pixel {
    background-color: white; 
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  
   button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
    background-color: rgb(246, 246, 255);
    color: rgb(20, 20, 20);
  }
  
  input {
    color: #1b1a1a;
    font-size: 16px;
    padding: 3px;
    background-color: #4670a0;
    border: none;
    border-radius: 4px;
  } 
  
  #color-palette {
    margin-top: 40px;
  }
  
  #title {
    margin-top: 20px;
    color: rgb(207, 85, 191)
  }